

/* Header */
header {
    background-color: #333;
    padding: 20px;
    text-align: center;
  }
  header h1 {
    color: #fff;
  }
  
  /* Navigation */
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  nav ul li {
    margin-left: 10px;
  }
  nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  /* Welcome Section */
  #welcome-section {
    padding: 50px;
    text-align: center;
  }